<%= render 'share/navbar'%>
<h1>shopping site</h1>

<%# if user_signed_in? 
<h1><%= current_user.email </h1>
<%= link_to 'Seller Site' ,controller:'products'
<% else 
<%= render plain: "Please Sign in To User" 
<% end %>