<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="card-header">Total Revanue </div>
    <div class="card-body">
       <h5 class="card-title">Total sold product price: <%= @sold_product_total_price %></h5>
       <h5 class="card-title">Total sold product quantity: <%= @sold_product_total_quantity %></h5>
    </div>
  </div> 
</div>
